@font-face {
    font-family:"Giver Made" ;
    src: url("/fontsAndStuff/giver_made/Giver\ Made\ Italic.ttf");
}

div{
    display: unset;
}

header{
    width: 100%;
    position: fixed;
    top:0;
    padding: 0;
}
.header_in{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_in > h1{
    font-family: "Giver Made";
    font-size: 50px;
}
.header_in > nav >a{
    padding: 5px;
    font-size:20px;
    text-decoration: none;
    color: grey;
}
.header_in > nav >a:hover{
    color: white;
}

main{
    margin-top: 150px;
}

.footer_info{
    margin-bottom: 0px;
}

footer > div{
    display: flex;
    justify-content: space-around;
}
.black{
    background: black;
}

.integrantes > h3{
    margin-left: 20px;
}

.integrantes > ul > li{
    list-style: none;
}

.integrantes > ul > li{
    list-style: none;
}

.text_and_image{
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
}

.images_center{
    display: flex;
    justify-content: center;
    margin: 5px 0px 10px 0px;
}
  