.full_black {
  background: black;
}
.header_in {
  height: 150px;
}

.footer_in {
  height: 150px;
}

main {
  color: white;
}

.img_cont {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */ 
}
.img_cont>img {
  border: 5px solid black;
}

.footer_integrantes {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.footer_integrantes > li {
  list-style: none;
  margin-left: 5px;
}
